@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Young+Serif&display=swap");

body{
    font-family: Nuito;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}


header{
    background: #118899;
    color: darkorange;
    
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

nav {
    text-align: center;
    justify-content: center;
    align-items: center;
}

menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: sans-serif;
}

li {
    list-style: none;
    padding-left: 1em;
    text-align: center;
}

main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex: 0 30px;
    justify-content: center;
    align-items: center;
    background: #118899;
}

h1 {
    color: rgb(200,150,20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: rgb(200,150,20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: rgb(20,120,180);
    font-family: sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 1em;
}
.card {
    border: #333 solid thick;
    border-radius: 1em;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 200;
    font-family: sans-serif;
}

.card:nth-child(odd) {
    background: rgb(200,150,20);
}

.card:nth-child(even) {
    background: #118899;
}

.events {
    margin: 1em;
    background: rgba(200, 149, 20, 0.483);
    width: 100vb;
    display: flex;
    flex-direction: column;
}
.event {
    margin: 1em;
    padding: 1em;
    background: lightblue;
    border: thick teal solid;
    color: #118899;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.event-name {
    font-size:2em;
    font-weight: bold;
    color: rgb(200,150,20);
    
}
.event-date-and-time {
    display: flex;
    flex-direction: row;
    
}
.event-date {
    flex: 2;
    padding: 1em;
}
.event-time {
    flex: 2;
    padding: 1em
}
.rsvp-checkbox {
    flex: 0.1;
}
.rsvp-label {
    flex: 1;
    padding: 1em;
}


#para1 {
    color:brown;
}

.class1 {
    color:coral;
}

@media (orientation:portrait) {
    .brand-name {
        display: none;
    }
    menu {
        flex-direction: column;
    }
}