@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Young+Serif&display=swap");

h1 {
    color: rgb(50,170,140);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    align-items:start;
}

p {
    color: rgb(20,120,180);
    font-family: Nunito;
    
}

#para1 {
    color:brown;
}
.class1 {
    color:coral;
}