@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Young+Serif&display=swap");

body{
    font-family: Nuito;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}


header{
    background: #118899;
    color: darkorange;
    
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

nav {
    text-align: center;
    justify-content: center;
    align-items: center;
}

menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: sans-serif;
}

li {
    list-style: none;
    padding-left: 1em;
}

main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex: 0 30px;
    justify-content: center;
    align-items: center;
    background: #118899;
}

h1 {
    color: rgb(200,150,20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: rgb(200,150,20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: rgb(20,120,180);
    font-family: sans-serif;
}

#para1 {
    color:brown;
}

.class1 {
    color:coral;
}

@media (orientation:portrait) {
    .brand-name {
        display: none;
    }
    menu {
        flex-direction: column;
    }
}